@font-face {
  font-family: 'Times New Roman',Times,Serif;
  src: url('https://www.fonts.com/font/monotype/times-new-roman/regular');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Times New Roman',Times,Serif;
  src: url('https://www.fonts.com/font/monotype/times-new-roman/regular');
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: 'Times New Roman',Times,Serif;
  src: url('https://www.fonts.com/font/monotype/times-new-roman/regular');
  font-weight: 600;
  font-style: italic;
}
